*
	margin 0
	padding 0
body
	background-color #121211
.top
	height 250px
	position relative
	.back
		color white
		position absolute
		height 50px
		width 50px
		background url("../img/nav_back_icon@2x.png") no-repeat top 30px center
		background-size 15px 20px
		display inline
		z-index 1
	.size
		position absolute
		bottom 10px
		left 15px
		color white
		height 30px
		width 100%
		line-height 30px
		display flex
		.left
			flex 1
			text-align center
			.span1
				font-size 20px
				color #ea5404
			.span2
				font-size 10px
		.right 
			flex 1
			text-align center
			.span3
				font-size 20px
				color #ea5404
			.span4
				font-size 10px
	img
		height 100%
		width 100%
.min
	padding 0px 20px
	margin-top 10px
	color white
	line-height 30px
	.min1
		height 30px
		border-top 1px solid #333330
		border-bottom 1px solid #333330
		padding 10px 0px
		display flex
		text-align center
		.div1
			flex 1.1
			font-size 10px
			color #707070
		.div2
			flex 1.9
			border-right 1px solid #333330
			.span6
				font-size 5px
			.span5
				font-size 15px
				font-family Microsoft Yahei
		.div3
			flex 1.1
			font-size 10px
			color #707070
		.div4
			flex 1.9
			.span8
				font-size 5px
			.span7
				font-size 15px
				font-family Microsoft Yahei
#min2
	display flex
	border-top none
	.left
		flex 0.19
		font-size 10px
		text-align center
		color #707070
	.right 
		flex 0.81
		font-family Microsoft Yahei
		text-align center
#min3
	border-top none
#span1
	color #ea5404
#span2
	color #ea5404
.p1
	color white
	padding 10px 20px 30px 20px
	font-size 10px
	color #707070
.bottom
	height 50px
	background-color #ea5404
	color white
	line-height 50px
	text-align center
	font-weight bold


