<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>项目名 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

	<link rel="stylesheet" type="text/css" href="../public/css/person.css">
</head>
<body>
	<div class="top">
	<div class="denglu">
		个人资料
	</div>
	</div>


	<div class="min">
		<div class="div1 div3"><span>头像</span></div>
		<div class="div1"><span>简介</span><input type="text" value="以前喜欢一个人，现在.."></div>
		<div class="div1"><span>企业邮箱/公司总机</span><input type="text" value="823546@qq.com"></div>
		<div class="div1"><span>联系人</span><input type="text" value="张三"></div>
		<div class="div1"><span>联系方式</span><input type="text" value="18956024163"></div>
		<div class="div1"><span>微信号码</span><input type="text" value="18956024163"></div>


		<div class="choose">
			<div class="div2">
			<div>
			</div>
			<p>微信二维码</p>
			</div>
			<div class="div3">
			<div>
			</div>
			<p>营业执照</p>
		</div>
		<div class="div4">
			<div>
			</div>
			<p>租售代理协议</p>
		</div>
		</div>
	</div>

</body>
</html>