<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>项目名 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

	<link rel="stylesheet" type="text/css" href="../public/css/seehouse.css">
</head>
<body>
	<div class="top">
		<div class="back"></div> 
		<div class="size">
			<div class="left">
			<span class="span1">￥354615</span><span class="span2">元/月</span></div>
			<div class="right">
			<span class="span3">1</span><span class="span4">/12</span></div> </div> 
		                
		<img src="../public/img/banner_img@2x.png">

	</div>




	<div class="min">
		<div class="min1"><div class="div1">单价</div><div class="div2"><span class="span5" id="span1">￥6.5</span><span class="span6">元/m<sup>2</sup>/天</span></div><div class="div3">面积</div><div class="div4"><span class="span7" id="span2">175</span><span class="span8">m<sup>2</sup></span></div></div>
		<div class="min1" id="min3">
		<div class="div1">装修</div><div class="div2"><span class="span5">精装</span></div><div class="div3">最短租期</div><div class="div4"><span class="span7">3年</span></div></div>
		<div class="min1" id="min3">
		<div class="div1">交付状态</div><div class="div2"><span class="span5">标准支付</span></div><div class="div3">装修免租</div><div class="div4"><span class="span7">一个月</span></div></div>
		<div class="min1" id="min3">
		<div class="div1">看房时间</div><div class="div2"><span class="span5">8:00-20:00</span></div><div class="div3">是否结佣</div><div class="div4"><span class="span7">一个月</span></div></div>

		<div class="min1" id="min2">
			<div class="left">交付时间</div>
			<div class="right">2015-06-21(现房)</div>
		</div>
		<div class="min1" id="min2">
			<div class="left">付款方式</div>
			<div class="right">押三付一(含发票)</div>
		</div>
		</div>
		<div class="p1">该广场是一个集商业，办公的综合楼项目，采用盖地双塔楼设计，使整体外形增强层次感，有变化及更富趣味性。东南就爱哦抵触世纪大道及张扬路交汇处，成为场地主入口广场。两座塔楼之间采用玻璃顶棚作为中庭大堂，南北贯通。塔楼A为18层，塔楼B为23层。地下室为三层，用作地下车库和设备用房及人防。</div>
	</div>

	<div class="bottom">预约看房</div>

</body>
</html>