<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>项目名 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

	<link rel="stylesheet" type="text/css" href="../public/css/subtenant.css">
</head>
<body>
	<div class="top">
	<div class="denglu">
		转租人
	</div>
	</div>
	<p class="p1">必填项</p>

	<div class="min">
		<div class="min-touxiang">
			<div class="touxiang">
				<div class="touxiang1">添加头像</div>
			</div>
			<input type="text" placeholder="姓名">
			<input type="text" placeholder="联系方式">

			<div class="card">房屋租赁合同</div>
		</div>
	</div>

	<p class="p1">选填项</p>

	<div class="bottom">
		<div class="credent">名片正面</div>
	</div>

	<div class="finish">
		<div class="finish1">完成</div>
	</div>

</body>
</html>