* {
  margin: 0;
  padding: 0;
  font-family: Microsoft Yahei;
}
body {
  background-color: #efeff4;
}
.top {
  background-color: #fff;
}
.denglu {
  color: #3a3a3a;
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
  background: url("../img/nav_back_icon@2x.png") no-repeat left 10px center;
  background-size: 14px 20px;
  border-bottom: 1px solid #e8e8e8;
}
.min {
  height: 400px;
  background-color: #fff;
  margin-top: 10px;
  padding: 0px 15px;
}
.min .div1 {
  padding: 10px 0px;
  border-bottom: 1px solid #e8e8e8;
  color: #878787;
  background: url("../img/content_list_right_icon@2x.png") no-repeat right 10px center;
  background-size: 10px 15px;
}
.min .div1 span {
  font-size: 15px;
}
.min .div1 input {
  width: 175px;
  border: none;
  outline: none;
  float: right;
  margin-right: 35px;
  font-size: 15px;
}
.min .div1.div3 {
  background: url("../img/content_img_user@2x.png") no-repeat center;
  background-size: 30px 30px;
}
.choose {
  height: 100px;
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #878787;
}
.choose div {
  float: left;
  height: 80px;
  width: 30%;
  background-color: #878787;
  border-radius: 5px;
}
.choose .div2 {
  float: left;
}
.choose .div2 div {
  height: 80px;
  width: 100%;
  background-color: #878787;
  border-radius: 5px;
}
.choose .div3 {
  float: left;
  margin-left: 5%;
}
.choose .div3 div {
  height: 80px;
  width: 100%;
  background-color: #878787;
  border-radius: 5px;
}
.choose .div4 {
  float: right;
}
.choose .div4 div {
  height: 80px;
  width: 100%;
  background-color: #878787;
  border-radius: 5px;
}
